.col {
    margin-top: 25px;
    margin-bottom: 35px;
}
.feedback-link {
    text-decoration: none;
    color: white;
    border: 2px solid #43346F;
    border-radius: 15px;
    width: 170px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.feedback {
    padding-top: 15px;
    padding-bottom: 16px;
}

.cooperated {
    color: #8F8F8F;
    font-size: 14px;
    font-weight: 400;
}

.container-fluid {
    height: 18vh;
}

.footer-ul {
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.footer-li {
    list-style-type: none;
    margin-top: 15px;
    color: #8F8F8F;
    font-size: 16px;
    font-weight: 500;
}

.first {
    display: grid;
    padding-left: 30px;
    justify-content: start;
}

.center {
    display: grid;
    justify-content: center;
}

.last {
    display: grid;
    padding-right: 30px;
    justify-content: end;
}

.li-contact {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    align-items: start;
}
