body, html {
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: #0E032E;
    margin: 0;
}

.col-10 {
    padding: 0;
}

.col-2 {
    padding: 0;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.row {
    flex: 1;
    display: flex;
}

.sidebar {
    background-color: #080020;
    color: white;
    width: 310px;
    min-height: 100%;
    position: fixed;
}

.header {
    background-color: #0E032E;
    height: 80px;
    color: white;
    position: fixed;
    left: 310px;
    right: 0;
}

.content {
    background-color: #1F1943;
    flex: 1;
    position: fixed;
    top: 80px;
    left: 310px;
    bottom: 236px;
    right: 0;
    color: white;
}

.footer {
    background-color: #0E032E;
    height: 236px;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 310px;
}

.sidebar-logo {
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
}
